#name {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: ;
}

.footer {
  text-align: center;
  line-height: .5;
}

a:visited {
  color: 	#B22222;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}
