#albumTitle {
  font-family: 'Open Sans', sans-serif;
}

#members {
  font-family: 'Open Sans', sans-serif;
}

#trackNumber {
  width: 10%;
}

#trackTitle {
  width: 20%;
}

#trackLength {
  width: 40%;
}

.credits {
  font: italic;
  margin-left: 20%;
}

.tracks {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
