#name {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.backgroundWrapper {
  background-color: #6c9dc6;
  padding-top: .5em;
  padding-bottom: .5em;
}
.footer {
  text-align: center;
}
.top-buffer {
  margin-top: 10px;
}
a:visited {
  color: #B22222;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
