img {
  display: block;
  margin: auto;
}

#trackNumber {
  width: 10%;
}

#trackTitle {
  width: 20%;
}

#trackLength {
  width: 40%;
}

.credits {
  margin-left: 20%;
}

.tracks {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

th {
  background-color: lightgrey;
}
